<!--The content below is only a placeholder and can be replaced.-->
<h2>Here are some links to help you start: </h2>
<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <div *ngIf="message" class="alert alert-success">{{message.text}}</div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<ul class="navigation">
  <!-- <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
  </li> -->
  <li style="display:inline-block;">
    <h2> <a routerLink="/">demo1</a></h2>
  </li>
  <li style="display:inline-block;">
    <h2> <a routerLink="/new">new</a></h2>
  </li>
  <li style="display:inline-block;">
    <h2> <a routerLink="/debounce">debounce</a></h2>
  </li>
  <li style="display:inline-block;">
    <h2> <a routerLink="/httpclient">httpclient</a></h2>
  </li>
  <li style="display:inline-block;">
    <h2> <a routerLink="/forkjoin">forkjoin</a></h2>
  </li>
</ul>
<hr/>
<router-outlet></router-outlet>
